[submodule "lib/tensorflow"]
	path = lib/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	branch = master
[submodule "lib/nanopb"]
	path = lib/nanopb
	branch = nordic_patch
	url = https://github.com/lab11/nanopb.git
[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
